* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

header {
  text-align: center;
  margin-top: 70px;
}

header h1 {
    font-size: 1.25em;
    color: #f9f4da;
    font-weight: 500;
    margin: 0
}

header p {
  max-width: 350px;
  font-size: 0.875em;
  color: #8e8e8e;
}

.game-status {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-block: 30px;
  color: #f9f4da;
  width: 352px;
  min-height: 60px;
}
.game-status p {
  margin: 5px;
}

.win {
  background-color: #10a95b;
}

.lose {
  background-color: #ba2a2a;
}

.farewell {
  background-color: #7a5ea7;
  border: 1px dashed #323232;
}

.farewell p{
  font-style: italic;
  font-weight: 400;
  border: none;
}

h2{
  font-size: 1.25em;
  margin: 5px;
}

.language-chips{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
}

span.chip {
  position: relative;
  border-radius: 3px;
  padding: 4.5px;
  margin: 1px;
}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.word{
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 40px;
  padding: 10px 0;
}

span.letter {
  color: #ffffff;
  background-color: #323232;
  font-size: 1.125em;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f9f4da;
}

.keyboard{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcba29;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  border: solid 1px #d7d7d7;
}
.bg-green{
  background-color: #10a95b;
}
.bg-red{
  background-color: #EC5D49;
}

.keyboard-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 480px;
  background-color: #262626;
  margin:40px 0;
  cursor: pointer;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}
